<div>
    <table class="responsive-table">
      <thead>
        <tr>
            <th>montant</th>
            <th>date depot</th>
            <th>utilisateur</th>
            <th>compte</th>
            
    
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let depot of listedepot">
            <td>{{depot.montant}}</td>
            <td>{{depot.date}}</td>
            <td>{{depot.user}}</td>
            <td>{{depot.compte}}</td>
            
          </tr>
        </tbody>
        </table>
      </div>
