
 <div>
    <app-navbar></app-navbar>
  </div> 
<div>
    <table class="responsive-table">
      <thead>
        <tr>
            <th>montant</th>
            <th>date depot</th>
            <th>utilisateur</th>
            <th>compte</th>
            
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let listedepot of listedepot">
            <td>{{listedepot.montant}}</td>
            <td>{{listedepot.date}}</td>
            <td>{{listedepot.user.prenom}}</td>
            <td>{{listedepot.compte.numbcompte}}</td>
          </tr>
        </tbody>
        </table>
      </div>
