<div>
  <app-navbar></app-navbar>
</div> 
<div class="container-login100" >
  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form class="login100-form validate-form">
      <span class="login100-form-title p-b-37">
        Ajouter un compte
      </span>
                  <div class="input-field col s6">
                      <em class="material-icons prefix">home</em>
                      <input [(ngModel)]="ajoutCompteData.partenaire" id="icon_prefix" type="text" name="partenaire" class="validate" required>
                      <label for="icon_prefix">Partenaire</label>
                    </div>
               
                    <div class="input-field col s6">
                        <em class="material-icons prefix">monetization_on</em>
                        <input [(ngModel)]="ajoutCompteData.solde" id="icon_prefix" type="text" name="solde" class="validate">
                        <label for="icon_prefix">solde</label>
                      </div>

                      <div class="container-login100-form-btn m-t-32">
                        <button (click)="ajoutCompte()"class="login100-form-btn" >
                          Valider
                        </button>
                      </div>
              </form>
            </div>
       </div>
     
