<div class="row pt-5">
    <div class="col-md-6 mx-auto">
     <div class="card-rounded-0">
       <div class="card-header">
          <h3 class="mb-0">Compte</h3>
            <div class="card-body">
              <form class="form">
                  <div class="input-field col s6">
                      <em class="material-icons prefix">account_circle</em>
                      <input [(ngModel)]="ajoutCompteData.partenaire" id="icon_prefix" type="text" name="partenaire" class="validate" required>
                      <label for="icon_prefix">Partenaire</label>
                    </div>
               
                    <div class="input-field col s6">
                        <em class="material-icons prefix">account_circle</em>
                        <input [(ngModel)]="ajoutCompteData.solde" id="icon_prefix" type="text" name="solde" class="validate">
                        <label for="icon_prefix">solde</label>
                      </div>

                  <button (click)="ajoutCompte()" type="button" class="btn btn-primary float-right">Valider</button>
              </form>
            </div>
       </div>
      </div>
    </div>
  </div>

