<div>
  <app-navbar></app-navbar>
</div> 
<div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');">
  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form class="login100-form validate-form">
      <span class="login100-form-title p-b-37">
        Ajouter un partenaire
      </span>
                  <div class="input-field col s6">
                      <em class="material-icons prefix">account_circle</em>
                      <input [(ngModel)]="ajoutpartenaireData.username" id="icon_prefix" type="text" name="username " class="validate" required>
                      <label for="icon_prefix">Username</label>
                    </div>
               
                    <div class="input-field col s6">
                        <em class="material-icons prefix">edit</em>
                        <input [(ngModel)]="ajoutpartenaireData.password" id="icon_prefix" type="password" name="password" class="validate">
                        <label for="icon_prefix">Mot de passe</label>
                      </div>

                <div class="input-field col s6">
                    <em class="material-icons prefix">account_circle</em>
                    <input [(ngModel)]="ajoutpartenaireData.nom" id="icon_prefix" type="text" name="nom" class="validate">
                    <label for="icon_prefix">Nom</label>
                  </div>
                
                  <div class="input-field col s6">
                      <em class="material-icons prefix">account_circle</em>
                      <input [(ngModel)]="ajoutpartenaireData.prenom" id="icon_prefix" type="text"name="prenom" class="validate">
                      <label for="icon_prefix">Prenom</label>
                    </div>

                    <div class="input-field col s6">
                        <em class="material-icons prefix">account_circle</em>
                        <input [(ngModel)]="ajoutpartenaireData.roles" id="icon_prefix" type="text" name="roles"class="validate">
                        <label for="icon_prefix">Roles</label>
                      </div>

                      <div class="input-field col s6">
                          <em class="material-icons prefix">phone</em>
                          <input [(ngModel)]="ajoutpartenaireData.tel" id="icon_prefix" type="number" name="tel"class="validate">
                          <label for="icon_prefix">Telephone</label>
                        </div>

                        <div class="input-field col s6">
                            <em class="material-icons prefix">filter_1</em>
                            <input [(ngModel)]="ajoutpartenaireData.cni" id="icon_prefix" type="number" name="cni" class="validate">
                            <label for="icon_prefix">Cni</label>
                          </div>

                          <div class="input-field col s6">
                              <em class="material-icons prefix">place</em>
                              <input [(ngModel)]="ajoutpartenaireData.adresse" id="icon_prefix" type="text" name="adresse"class="validate">
                              <label for="icon_prefix">Adresse</label>
                            </div>

                 <div class="input-field col s6">
                      <em class="material-icons prefix">email</em>
                      <input [(ngModel)]="ajoutpartenaireData.email" id="icon_prefix" type="text" name="email" class="validate">
                      <label for="icon_prefix">Email</label>
                    </div>


                <div class="input-field col s6">
                      <em class="material-icons prefix">accessibility</em>
                      <input [(ngModel)]="ajoutpartenaireData.statut" id="icon_prefix" type="text" name="statut"class="validate">
                      <label for="icon_prefix">Statut</label>
                    </div>
                    <div class="input-field col s6">
                        <em class="material-icons prefix">input</em>
                        <input [(ngModel)]="ajoutpartenaireData.rs" id="icon_prefix" type="text" name="rs"class="validate">
                        <label for="icon_prefix">Raison sociale</label>
                      </div>
  
                  <div class="input-field col s6">
                        <em class="material-icons prefix">account_circle</em>
                        <input [(ngModel)]="ajoutpartenaireData.nompart" id="icon_prefix" type="text" name="nom" class="validate">
                        <label for="icon_prefix">Nom partenaire</label>
                      </div>

                      <div class="input-field col s6">
                          <em class="material-icons prefix">account_circle</em>
                          <input [(ngModel)]="ajoutpartenaireData.adressemail" id="icon_prefix" type="text" name="adressemail" class="validate">
                          <label for="icon_prefix"> add partenaire</label>
                        </div>

                        <div class="input-field col s6">
                            <em class="material-icons prefix">accessibility</em>
                            <input [(ngModel)]="ajoutpartenaireData.statutpart" id="icon_prefix" type="text" name="statut" class="validate">
                            <label for="icon_prefix">statut du partenaire</label>
                          </div>
                          <div class="input-field col s6">
                              <em class="material-icons prefix">filter_1</em>
                              <input [(ngModel)]="ajoutpartenaireData.ninea" id="icon_prefix" type="text" name="ninea" class="validate">
                              <label for="icon_prefix">Ninea</label>
                            </div>
                            <div class="input-field col s6">
                                <em class="material-icons prefix">monetization_on</em>
                                <input [(ngModel)]="ajoutpartenaireData.solde" id="icon_prefix" type="number" name="solde" class="validate">
                                <label for="icon_prefix">Solde</label>
                              </div>

                    <div class="input-field col s6">
                        <em class="material-icons prefix">insert_photo</em>
                        <img [src]="imageUrl"  style="width:20px;height:20px" alt="">
                        <input  type="file" (change)="handleFileInput($event.target.files)" #image accept="images/*"id="icon_prefix" name="imageName" class="validate">
                        <label for="icon_prefix">Image</label>
                      </div>

                      <div class="input-field col s6">
                          <em class="material-icons prefix">contrat</em>
                          <button type="button" (click)="downloadPDF()" class="btn-btn-success">Download PDF</button>
                          
                        </div>

                      <div class="container-login100-form-btn m-t-32">
                        <button (click)="ajoutpartenaire()"class="login100-form-btn" >
                          Valider
                        </button>
                      </div>
              </form>
            </div>
       </div>
     
