<div>
  <app-navbar></app-navbar>
</div>
<div>
<table class="responsive-table">
  <thead>
    <tr>
        <th>ninea</th>
        <th>raison sociale</th>
        <th>nom</th>
        <th>adresse</th>
        <th>statut</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let partenaire of liste">
      <td>{{partenaire.ninea}}</td>
      <td>{{partenaire.rs}}</td>
      <td>{{partenaire.nompart}}</td>
      <td>{{partenaire.adressemail}}</td>
      <td>{{partenaire.statutpart}}</td>
    </tr>
  </tbody>
  </table>
</div>
