<div class="row pt-5">
    <div class="col-md-6 mx-auto">
     <div class="card-rounded-0">
       <div class="card-header">
          <h3 class="mb-0">Register</h3>
            <div class="card-body">
              <form class="form">
                  <div class="input-field col s6">
                      <em class="material-icons prefix">account_circle</em>
                      <input [(ngModel)]="registerUserData.username" id="icon_prefix" type="text" name="username " class="validate" required>
                      <label for="icon_prefix">Username</label>
                    </div>
               
                    <div class="input-field col s6">
                        <em class="material-icons prefix">account_circle</em>
                        <input [(ngModel)]="registerUserData.password" id="icon_prefix" type="text" name="password" class="validate">
                        <label for="icon_prefix">Mot de passe</label>
                      </div>

                <div class="input-field col s6">
                    <em class="material-icons prefix">account_circle</em>
                    <input [(ngModel)]="registerUserData.nom" id="icon_prefix" type="text" name="nom" class="validate">
                    <label for="icon_prefix">Nom</label>
                  </div>
                
                  <div class="input-field col s6">
                      <em class="material-icons prefix">account_circle</em>
                      <input [(ngModel)]="registerUserData.prenom" id="icon_prefix" type="text"name="prenom" class="validate">
                      <label for="icon_prefix">Prenom</label>
                    </div>

                    <div class="input-field col s6">
                        <em class="material-icons prefix">account_circle</em>
                        <input [(ngModel)]="registerUserData.roles" id="icon_prefix" type="text" name="roles"class="validate">
                        <label for="icon_prefix">Roles</label>
                      </div>

                      <div class="input-field col s6">
                          <em class="material-icons prefix">account_circle</em>
                          <input [(ngModel)]="registerUserData.tel" id="icon_prefix" type="number" name="tel"class="validate">
                          <label for="icon_prefix">Telephone</label>
                        </div>

                        <div class="input-field col s6">
                            <em class="material-icons prefix">account_circle</em>
                            <input [(ngModel)]="registerUserData.cni" id="icon_prefix" type="number" name="cni" class="validate">
                            <label for="icon_prefix">Cni</label>
                          </div>

                          <div class="input-field col s6">
                              <em class="material-icons prefix">account_circle</em>
                              <input [(ngModel)]="registerUserData.adresse" id="icon_prefix" type="text" name="adresse"class="validate">
                              <label for="icon_prefix">Adresse</label>
                            </div>

                 <div class="input-field col s6">
                      <em class="material-icons prefix">account_circle</em>
                      <input [(ngModel)]="registerUserData.email" id="icon_prefix" type="text" name="email" class="validate">
                      <label for="icon_prefix">Email</label>
                    </div>

                <div class="input-field col s6">
                      <em class="material-icons prefix">account_circle</em>
                      <input [(ngModel)]="registerUserData.partenaire" id="icon_prefix" type="text" name="partenaire"class="validate">
                      <label for="icon_prefix">Partenaire</label>
                    </div>

                <div class="input-field col s6">
                      <em class="material-icons prefix">account_circle</em>
                      <input [(ngModel)]="registerUserData.statut" id="icon_prefix" type="text" name="statut"class="validate">
                      <label for="icon_prefix">Statut</label>
                    </div>
                    <div class="input-field col s6">
                        <em class="material-icons prefix">account_circle</em>
                        <img [src]="imageUrl"  style="width:50px;height:50px" alt="">
                        <input  type="file" (change)="handleFileInput($event.target.files)" #image accept="images/*"id="icon_prefix" name="imageName" class="validate">
                        <label for="icon_prefix">Image</label>
                      </div>
                <button (click)="registerUser()" type="button" class="btn btn-primary float-right">Valider</button>
              </form>
            </div>
       </div>
      </div>
    </div>
  </div>
